<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <div class="pt-3 font-weight-bold">Login</div>
                        <div class="panel-body p-3"></div>
                        <form [formGroup]="loginForm">
                          <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label mt-4">Username</label>
                            <input type="text" class="form-control"formControlName="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                          <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" class="text-danger">"Username is required</small>
                          
                          <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                            <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
                          </div>
                          <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">"Password is required</small>
                          <div class="form-inline fr mt-4">
                            <a id="forget" data-bs-toggle="modal" data-bs-target="#exampleModal" >Forget Password?</a>
                          </div>
                          <button type="submit" class="btn btn-outline-secondary" (click)="onLogin()">Login</button>
                          <div class="text-center pt-3 text-muted">Don't have an account? <a id="forget" routerLink="/signup">Sign up</a></div>
                          
                        </form>

                    </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModallable" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModallable"><span style="font-size: 25px; font-weight:700;">Forget your Password?</span><br>
          <small>Please provide your Email and we will sent the reset link</small></p>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-group pt-3">
              <div class="input-field"><span class="fa fa-user p-2"> </span><input [(ngModel)]="resetPasswordEmail" (ngModelChange)="checkValidEmail($event)" type="text" placeholder="Email"></div>

            </div>
            <small *ngIf="!resetPasswordEmail" class="text-danger">*Email is required*</small>
            <small *ngIf="!isValidEmail && resetPasswordEmail" class="text-danger">*Email is invalid*</small>
        </div>
        <div class="modal-footer"> 
          <button type="button" (click)="confirmToSend()"  class="btn btn-primary">Send</button>
        </div>
    </div>

  </div>

</div>

<div class="modal fade" id="studentModal" tabindex="1" aria-labelledby="exampleModallable" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModallable"><span style="font-size: 25px; font-weight:700;">Student</span><br>
          <small>Please use the following credentials to login as a Student</small></p>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <p>Username : student</p>
        <p>Password: Student@123</p>

    </div>

  </div>

</div>