.outer {
    height: 100vh;
    background: linear-gradient(to top, rgba(192, 191, 191, 0.936) 50%, #534f4f 90%) no-repeat;
}

.panel-heading {
    text-align: center;
    margin-bottom: 10px;
}

#forget {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.btn {
    margin-top: 20px;
    border-radius: 15px;
}


.panel {
    min-height: 380px;
    border-radius: 12px;
    margin-top: 100px;
    background-color: #fff; /* Added background color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Added box shadow */
    padding: 20px; /* Added padding */
}

.input-field {
    border-radius: 5px;
    padding: 10px; /* Increased padding */
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgb(15, 14, 14);
    margin-bottom: 20px; /* Added margin bottom */
}

.input-field.error {
    border: 1px solid red;
    color: red;
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    margin-left: 10px; /* Added margin left */
}

img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    margin-right: 10px; /* Added margin right */
}

.bordert {
    border-top: 1px solid white;
    position: relative;
}

.bordert:after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%); /* Centering the text */
    background-color: white;
    padding: 0;
    color: #999; /* Added color */
    font-size: 12px; /* Added font size */
    padding: 0 10px; /* Added padding */
    border-radius: 5px; /* Added border radius */
}
.text-center a#forget {
    color: #007bff; /* Default blue color */
    text-decoration: none; /* Remove default underline */
}

.text-center a#forget:hover {
    color: #0056b3; /* Brighter blue color on hover */
    text-decoration: underline;
    text-decoration-color: #0056b3; /* Brighter blue color for underline on hover */
    text-decoration-thickness: 2px; /* Thickness of the underline on hover */
}