.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
  }
  
  #text{
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
   
  }
  
  .parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
  }
  
  .sec{
    position: relative;
    background: #003329;
    padding: 100px;
  
  }
  .sec h3{
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
  }

  /* New*/
      .background
      {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
      }


      .custom-table {
        border-radius: 10px; /* Adding rounded corners */
        color: black; /* Setting text color to black */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Using a nice font */
        background-color: white; /* Setting background color to white */
    }
    
    .custom-table thead th,
    .custom-table tbody td {
        border-color: black; /* Setting border color */
    }
    
 
    .custom-table .btn:hover:not(:disabled) {
        opacity: 0.85; /* Reduce opacity on hover for better feedback */
    }
    
    
    