
<section class="parallax">
  
    <img src="assets/images/Tropical/hill1.png" class="background" >
    <img src="assets/images/Tropical/hill2.png" class="background">
    <img src="assets/images/Tropical/hill3.png" class="background">
    <img src="assets/images/Tropical/hill4.png" class="background">
    <img src="assets/images/Tropical/hill5.png" class="background">
    
    <img src="assets/images/Tropical/tree.png" class="background">
    <img src="assets/images/Tropical/leaf.png" class="background">
    <h1 id="text">Students Joined</h1>
    
    <img src="assets/images/Tropical/plant.png" class="background">
  
  </section>
  
  <section class="sec">



    </section>
