<section class="parallax">
  
  <img src="assets/images/Tropical/hill1.png" id="hill1">
  <img src="assets/images/Tropical/hill2.png" id="hill2">
  <img src="assets/images/Tropical/hill3.png" id="hill3">
  <img src="assets/images/Tropical/hill4.png" id="hill4">
  <img src="assets/images/Tropical/hill5.png" id="hill5">
  
  <img src="assets/images/Tropical/tree.png" id="tree">
  <h2 id="text" >Soccer</h2>
  <img src="assets/images/Tropical/leaf.png" id="leaf">
  <img src="assets/images/Tropical/plant.png" id="plant">

</section>

<section class="sec">
  <h2>Soccer Rules</h2>
  <div class="row"> 

    <div class="column">

      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Field of Play</div>
        <div class="card-body">
          <li>
            Field Dimensions: The field's length (touch line) is 90 meters, and its width (goal line) is 45 meters.
          </li>
          <li>
            Goal line: An eight-yard-wide goal is centered along the goal line at each end of the field.
          </li>
          <li>
            Goal box: The goal box is located six yards from each goal post, parallel to the goal line, and six yards into the field.
          </li>
          <li>
          Penalty box: The penalty box is located 18 yards away from each goal post along the goal line and 18 yards away from the goal line into the field.
          </li>
        </div>
       </div>
    </div>

      <div class="column">
       <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
        <div class="card-header">Fouls and midconduct</div>
        <div class="card-body"> 
          <p class="card-text">A player receives a direct free kick if they:</p>
          <li>
            kicks or tries to kick an adversary
          </li>
          <li>
            handles the ball with intention
          </li>
          <li>
            attacks or tries to attack a rival
          </li>
          <li>
            slams into an opponent
          </li>
          <p></p>
          <p class="card-text">A player receives indirect free kicks if they:</p>
          <li>
            plays in a risky way.
          </li>
          <li>
            hinders an adversary's advancement
          </li>
          <li>
            limits the goalkeeper's ability to release the ball from his or her hands.
          </li>
          <li>
            commits any other offense that isn't mentioned
          </li>
          <p>The opposition side is given a penalty kick if any of these fouls are committed by a player in their team's penalty area.</p>
      
        </div>
      </div>
      </div>
      <div class="column">
      <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
        <div class="card-header">Card</div>
        <div class="card-body">
          <p>Yellow Card: Players may receive a yellow card as a caution or warning for the following offenses:</p>
            <li>
              Unsportsmanlike conduct
            </li>
            <li>
              persistent violation of the game's rules
            </li>
            <li>
              When the game is resumed with a corner kick, free kick, or throw-in, failure to maintain the necessary distance
            </li>
            <li>
              entering or leaving the playing field without the referee's consent
            </li>
            <p>Red Card: For the following infractions, a player may be given a red card, which removes them from the game: </p>
            <li>
              serious wrongdoing
            </li>
            <li>
              Denying the opposition team a goal or a clear-cut chance to score by purposefully handling the ball (the goalkeeper being an exception)
            </li>
            <li>
              Getting two cautions (yellow cards) in one game
            </li>
        </div>
      </div>
      </div>

      <div class="column">
      <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Type of kicks</div>
        <div class="card-body">
         <p>Free Kick</p>
         <li>
          A direct kick is a shot that is made into the goal of the opposition without making contact with any other players.
         </li>
         <li>
          The referee lifting his hand during the kick designates an indirect free kick. 
          An indirect kick can only enter the goal if it is touched by another player after leaving the kicker's foot.
         </li>
         <p></p>
         <p>Penalty Kick</p>
         <li>
          When a defender fouls an attacker or hands the ball into his or her own team's penalty area, a penalty kick is given.
         </li>
         <p></p>
          <p>Corner Kick</p>
          <li>
            When the defensive team crosses its goal line while playing the ball out of bounds, the offensive team receives a corner kick.
          </li>
        </div>
      </div>
      </div>
    </div>

    <ul class="tabs-container">
      <li  (click)="onTabClick('Shooting')" [class.active]="activeTab == 'Shooting'" class="tab-link">Shooting</li>
      <li (click)="onTabClick('Dribbling Skills')" [class.active]="activeTab == 'Dribbling Skills'"  class="tab-link">Dribbling Skills</li>
      <li (click)="onTabClick('Passing and Receiving')" [class.active]="activeTab == 'Passing and Receiving'"  class="tab-link">Passing and Receiving</li>
      <li (click)="onTabClick('Defending')" [class.active]="activeTab == 'Defending'"  class="tab-link">Defending</li>
    </ul>
    <div *ngIf="activeTab == 'Shooting'" class="w-100">
      
      <img src="/assets/images/Approach.webp"  style="width:50%;" class="center">
      <li class="word">To gain stability, place your supporting foot next to the ball.
        Your aim will be more accurate if you point your grounded foot in the desired direction for the ball to travel.
      </li>

      <img src="/assets/images/contactpoint.webp"  style="width:50%;" class="center">
      <li class="word">
        Use the top of your foot, sometimes referred to as your laces, to strike the ball. 
        Lock your ankle when you kick to generate force with your striking foot.
      </li>
      <li class="word">
        After kicking the ball, extend your shooting leg in the same general direction.
This will give the shot the full force it needs to enter the goal.
      </li>

      <img src="/assets/images/dribbleshot.webp"  style="width:50%;" class="center">
      <li class="word">
        Before you take a shot in a game, you'll often be dribbling the ball.
Push the ball out in front of you a bit to give yourself some room to move before setting your foot and shooting.
      </li>
      <li class="word">
        Keep in mind to point your supporting foot in the same direction as the ball's flight.
      </li>

    </div>
    <div *ngIf="activeTab == 'Dribbling Skills'" class="w-100">
      <img src="/assets/images/ballcontrol.webp"  style="width:50%;" class="center">
      <li class="word">
        You can control the course of the ball, turn the ball around, and cut off defenders by using the inside and outside of your feet. 
        When you run with the ball, the top of your foot, or laces, propels the ball forward quickly, 
        and when you make a sudden turn or impersonate an opponent, the bottom of your foot stops the ball.
      </li>
      <li class="word">
        Keep your ankle locked and your toes pointed downward during dribbling.
Use your supporting foot to push off the ground as you run to extend your stride.
Maintain a sporty stance and land on the ball of your foot for improved speed and agility.
      </li>
      <li class="word">
        You can keep the ball near to you, stay agile, in control, change directions quickly, 
        and keep your opponent guessing if you tap the ball frequently.
      </li>
    </div>
    <div *ngIf="activeTab == 'Passing and Receiving'" class="w-100">
      <img src="/assets/images/passing.gif"  style="width:50%;" class="center">
      <li class="word">
        Turn your hip outward, elevate your leg to the side, 
        and pass the ball with the inside of your foot to execute a normal pass.
      </li>
      <img src="/assets/images/loftpass.gif"  style="width:50%;" class="center">
      <li class="word">
        To execute a lofted pass, extend your placefoot horizontally, kick the ball with your big toe's knuckle, and then follow through.
Your leg should be high when you follow through.
      </li>
    </div>
    <div *ngIf="activeTab == 'Defending'" class="w-100">
      <img src="/assets/images/tackling.gif"  style="width:50%;" class="center">
      <li class="word">
        In general, when an attacker errs, tackle him.
        When he makes a poor touch or touches the ball too close to you, strike him as soon as possible.
      </li>
      <img src="/assets/images/offballpositioning.gif"  style="width:50%;" class="center">
      <li class="word">
        Where you should position yourself depends on the soccer position you’re playing and the situation. 
        In general, you’re in a good defensive position when you are in a valuable space on the field.
      </li>
     </div>
  

    
      




</section>

<script src="UI/angular14/src/assets/script.js"></script>
