

<div class="bg-img">
  <div class="bgPosition" [class.bg]="bgVariable">

  </div>
</div>
<header [class.headerFixed]="headerVariable">
  <div class="container">
    <div class="logo">
      <img src="assets/images/fire.png">
    </div>
  </div>
</header>
<section class="banner">
  <div class="container">
    <div class=" banner-content">
      <h1> Welcome</h1>
      <p>Here is where you can find yourself improving</p>
      <ul>
        <li>
          <h2>Made By</h2>
          <p>Cody Voon</p>
        </li>
        <li>
          <h2>Role</h2>
          <p>Personal Project</p>
        </li>
        <li>
          <h2>Supervisor</h2>
          <p>Łukasz Piątek </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="gallery">
  <div class="container">
    <div class="gallery-container">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/bballshot.jpg">
          <button  class="btn btn-secondary"  disabled>basketball</button>
        </div>
        <div class="col-md-6">
          <img src="assets/images/humblesoccer.jpg">
          <button  class="btn btn-secondary"  disabled>Soccer</button>
        </div>
        <div class="col-md-6">
          <img src="/assets/images/badminton/pexels-vlad-vasnetsov-2202685.jpg">
          <button  class="btn btn-secondary"  disabled>Badminton</button>
        </div>
        <div class="col-md-6">
          <img src="/assets/images/Volleyball/pexels-pavel-danilyuk-6203499.jpg">
          <button  class="btn btn-secondary"  disabled>Volleyball</button>
        </div>
      </div>
    </div>
  </div>
</section>

